<div class="container pt-200  ">
    <div class="table-responsive-lg aos-init aos-animate rounded-2 " data-aos="fade-up">
        <table class="table table-lg table-hover table-borderless bg-products rounded-3 mb-0">
            <thead class="border-bottom">
                <tr class="text-center">
                    <th scope="col" class="text-left">
                        <div class="mb-5">
                            <div class="h4 font-weight-bold text-db9b1e">Choose a Plan</div>
                            <p class="font-weight-normal text-muted font-size-sm d-lg-none">Scroll to view more plans --&gt;</p>
                        </div>
                    </th>
                    <th scope="col" class="text-center text-nowrap">
                        <div class="h4 font-weight-bold mb-0 text-white">Level 1</div>

                        <a href="javascript:;" class="btn btn-white btn-sm waves-effect mt-3" role="button">Get Single</a>
                    </th>
                    <th scope="col" class="text-center text-nowrap">
                        <div class="h4 font-weight-bold mb-0 text-white">Level 2</div>

                        <a href="javascript:;" class="btn btn-white btn-sm waves-effect mt-3" role="button">Get Membership</a>
                    </th>
                    <th scope="col" class="text-center text-nowrap">
                        <div class="h4 font-weight-bold mb-0 text-white">Level 3</div>

                        <a href="javascript:;" class="btn btn-primary btn-sm waves-effect mt-3" role="button">Get Lifetime</a>
                    </th>

                </tr>
            </thead>
            <tbody>

                <tr class="text-white">
                    <th class="font-weight-normal" scope="row">Email Marketing Contacts</th>
                    <td class="text-center">100</td>
                    <td class="text-center">500</td>
                    <td class="text-center">1000</td>

                </tr>

                <tr class="text-white">
                    <th class="font-weight-normal" scope="row">Contact Lifecycle Stages</th>
                    <td class="text-center">-</td>
                    <td class="text-center">2</td>
                    <td class="text-center">5</td>

                </tr>

                <tr class="text-white">
                    <th class="font-weight-normal" scope="row">
                        Audits per day
                        <span class="badge badge-light border rounded-circle hw-18" data-toggle="popover" role="button" data-trigger="hover" data-placement="top" data-content="Group Messaging is characterized by an SMS conversation among 3 or more recipients at the same time." data-original-title="" title="">?</span>
                    </th>
                    <td class="text-center">-</td>
                    <td class="text-center"><span class="say-yes"></span></td>
                    <td class="text-center">100</td>

                </tr>

                <tr class="text-white">
                    <th class="font-weight-normal" scope="row">
                        Crawl credits per month
                        <span class="badge badge-light border rounded-circle hw-18" data-toggle="popover" role="button" data-trigger="hover" data-placement="top" data-content="Group Messaging is characterized by an SMS conversation among 3 or more recipients at the same time." data-original-title="" title="">?</span>
                    </th>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="text-center">50</td>

                </tr>

                <tr class="text-white">
                    <th class="font-weight-normal" scope="row">Live Tracking</th>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="text-center"><span class="say-yes"></span></td>

                </tr>



                <tr class="text-center bg-products">
                    <th scope="col"></th>
                    <th scope="col" class="text-center text-nowrap">
                        <a href="javascript:;" class="btn btn-white btn-sm waves-effect mt-3" role="button">Get Single</a>
                    </th>
                    <th scope="col" class="text-center text-nowrap">
                        <a href="javascript:;" class="btn btn-white btn-sm waves-effect mt-3" role="button">Get Membership</a>
                    </th>
                    <th scope="col" class="text-center text-nowrap">
                        <a href="javascript:;" class="btn btn-primary btn-sm waves-effect mt-3" role="button">Get Lifetime</a>
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</div>