
<div class="first_nav_hero_about">
    <!-- ======== 1.2. hero section ======== -->
    <section class="hero">
        <div class="container text-center">
        </div>
    </section>


</div>





<br />




<!-- ======== 1.4. finance section ========  -->
<section class="finance">
    <div class="container text-center">
        <h2 class="mb-3">LIFE PRODUCTS AND SERVICES </h2>
        <div class="finanes-card row gap-md-0 gap-sm-4 gap-4">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">Short Term</span></h4>
                    <p class="p-f-s my-0">
                        Vehicle Insurance 
                    </p>
                    <p class="p-f-s my-0">
                            Household Insurance
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">Life Products</span></h4>
                    <p class="p-f-s my-0">
                        Life Insurance
                    </p>
                   

                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/arow.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">Life Products add-ons</span></h4>
                    <p class="p-f-s my-0">
                        Free repatriation services
                    </p>
                    <p class="p-f-s my-0">
                        Cash payout funeral cover
                    </p>
                    <p class="p-f-s my-0">
                        Free repatriation funeral services FSP
                    </p>

                </div>
            </div>
            

        </div>
    </div>
</section>
<!-- ======== End of 1.4. finance section ========  -->
<!-- ======== 1.5. ispsum section ========  -->
<div class="ispsum-logo">
    <div class="container">
        <hr>
        <div class="logo_ispsum_slider">
            <a href="#">
                <figure><img width="300" height="100" src="~/assets/images/icon/mastercard.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="300" height="100" class="my-auto" src="~/assets/images/icon/picknpay.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/nedbank.png" alt="img"></figure>
            </a>

            <a href="#">
                <figure><img width="300" height="100" class="my-auto" src="~/assets/images/icon/checkers.png" alt="img"></figure>
            </a>

            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/shoprite.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/rapidRewards.png" alt="img"></figure>
            </a>
        </div>
        <hr>
    </div>
</div>
<!-- ======== End of 1.5. ispsum section ========  -->

