@* <div class="first_nav_hero_about">
    <!-- ======== 7.1. testimonials-hero section ========  -->
    <div class="container">
        <div class="testimon-hero">
            <h2>TESTIMONIALS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eligendi in provident nam impedit corporis?</p>
        </div>
    </div>
    <!-- ======== End of 7.1. testimonials-hero section ========  -->
    <!-- ======== 1.10. profaessional section ========  -->
    <section class="profaessional mb-lg-4 mb-md-2 mb-sm-1 mb-1">
        <div class="container">
            <div class="prof-size d-flex flex-column gap-5">
                <div class="prof-slid position-relative" data-aos="zoom-in-up">
                    <div>
                        <div class="d-flex  align-items-center justify-content-center">
                            <img src="~/assets/images/slider/profational2.jpg" alt="img" class="prof-img-2">
                        </div>
                        <div class="pe-3">
                            <img src="~/assets/images/slider/Comma.png" alt="img" class="prof-img-1">
                        </div>
                        <p class="text-center p-f-s">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Enim
                            qui
                            porro perferendis voluptatibus minima, eius illo animi nihil sed natus! Deleniti
                            officia
                            dolores culpa alias quasi repellat corrupti doloremque aliquam!
                        </p>
                        <div class="prof-star pt-2 pb-2 text-center">
                            <span class="stars text-lg-start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <h5 class="text-center">Johnny Stone</h5>
                        <p class="text-center pt-2 pb-5 p-f-s">Entrepreneur</p>
                    </div>
                </div>
                <div class="prof-slid position-relative" data-aos="zoom-in-up">
                    <div>
                        <div class="d-flex  align-items-center justify-content-center">
                            <img src="~/assets/images/slider/profactional3.jpg" alt="img" class="prof-img-2">
                        </div>
                        <div class="pe-3">
                            <img src="~/assets/images/slider/Comma.png" alt="img" class="prof-img-1">
                        </div>
                        <p class="text-center p-f-s">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Enim
                            qui
                            porro perferendis voluptatibus minima, eius illo animi nihil sed natus! Deleniti
                            officia
                            dolores culpa alias quasi repellat corrupti doloremque aliquam!
                        </p>
                        <div class="prof-star pt-2 pb-2 text-center">
                            <span class="stars text-lg-start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <h5 class="text-center">Stephen Stewart</h5>
                        <p class="text-center pt-2 pb-5 p-f-s">Entrepreneur</p>
                    </div>
                </div>
                <div class="prof-slid position-relative" data-aos="zoom-in-up">
                    <div>
                        <div class="d-flex  align-items-center justify-content-center">
                            <img src="~/assets/images/slider/profacitional.jpg" alt="img" class="prof-img-2">
                        </div>
                        <div class="pe-3">
                            <img src="~/assets/images/slider/Comma.png" alt="img" class="prof-img-1">
                        </div>
                        <p class="text-center p-f-s">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Enim
                            qui
                            porro perferendis voluptatibus minima, eius illo animi nihil sed natus! Deleniti
                            officia
                            dolores culpa alias quasi repellat corrupti doloremque aliquam!
                        </p>
                        <div class="prof-star pt-2 pb-2 text-center">
                            <span class="stars text-lg-start">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <h5 class="text-center">Tom Hiddellon</h5>
                        <p class="text-center pt-2 pb-5 p-f-s">Entrepreneur</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======== End of 1.10. profaessional section ========  -->
</div> *@




@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypath</title>
    <!-- favicon  -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- faremwork of css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-lib/bootstrap.min.css">
    <!-- style sheet of css        -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive sheet of css -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- fonts awsome icon link            -->
    <link rel="stylesheet" href="~/assets/font-awesome-lib/icon/font-awesome.min.css">
    <!-- slick-slider link css -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- animation of css -->
    <link rel="stylesheet" href="~/assets/css/aos.css">
</head>
<body>
    <div class="site-wrapper">
        <div class="first_nav_hero_about">
            <!-- ======== 11.1. Coming hero section ======== -->
            <section>
                <div class="container">
                    <div class="row coming-hero d-flex gap-md-0 gap-sm-4 gap-4">
                        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                            <figure class="d-flex align-items-center justify-content-lg-end justify-content-md-center justify-content-center"><img src="~/assets/images/coming/coming-soon.png" class="moving" alt="img"></figure>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-md-start align-items-ms-center align-items-center text-md-start text-sm-center text-center" data-aos="fade-down">
                            <h3>WE ARE</h3>
                            <h2>COMING SOON</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nihil numquam natus corporis dolorem obcaecati esse, deleniti ex maiores libero?</p>
                            <a class="btn-hover1" asp-controller="Home" asp-action="Index">Back to Home</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======== End of 11.1. Coming hero section ======== -->
            <!-- ======== 11.2. Coming footer section ======== -->
            <div class="footer-coming">
                <div class="d-flex align-items-center justify-content-center gap-4">
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                    <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                </div>
                <p class="text-center ps-1 pe-1">Copyright © 2024 ACID SmartMula . All Right Reserved.</p>
                <h1 class="fs-6 lh-1">Powered by Sesfont</h1>
            </div>
            <!-- ======== End of 11.2. Coming footer section ======== -->
        </div>
    </div>

    <!-- bootstrap min javascript -->
    <script src="~/assets/js/javascript-lib/bootstrap.min.js"></script>
    <!-- j Query -->
    <script src="~/assets/js/jquery.js"></script>
    <!-- slick slider js -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- main javascript -->
    <script src="~/assets/js/custom.js"></script>
    <!-- counter javascript file -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- animation from javascript -->
    <script src="~/assets/js/aos.js"></script>
    <script>
        AOS.init({
            once: true,
            duration: 1500,
        });
    </script>
</body>
</html>
