
<div class="first_nav_hero_about">
    <!-- ======== 1.2. hero section ======== -->
    <section class="hero">
        <div class="container text-center">
        </div>
    </section>


</div>


<section class="finance ">
    <div class="gate-link text-lg-start text-md-start text-sm-center text-center d-flex justify-content-center  m-0">
        <a class="btn-hover1" asp-controller="Products" asp-action="Index">Join the ACID Pro54 Network</a>
    </div>
</section>


<br />




<!-- ======== 1.4. finance section ========  -->
<section class="finance">
    <div class="container text-center">
        <h2 class="mb-3">PRODUCTS</h2>
        <div class="finanes-card row gap-md-0 gap-sm-4 gap-4">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">Banking</span></h4>
                    <p class="p-f-s text-sm-center text-md-start">
                        Local Wallet
                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Multi Currency Wallet

                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Cross Border Remittance
                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Joint/Group Accounts
                    </p>
                    <div class="gate-link text-lg-start text-md-start text-sm-center text-center  m-0">
                        <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Explore More</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>
                    <h4> <span class="text-db9b1e">Healthcare</span></h4>
                    <p class="p-f-s text-sm-center text-md-start">
                        Virtual Medical services
                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        KeyCare Health for all
                        Hospital Care

                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Student medical care
                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Pharmacy/Medicines
                    </p>
                    <div class="gate-link text-lg-start text-md-start text-sm-center text-center  m-0">
                        <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card px-2 py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">Insurance & Life products</span></h4>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="p-f-s text-sm-center text-md-start fw-bold">
                                SHORT TERM
                            </p>
                            <p class="p-f-s text-sm-center text-md-start">
                                • Vehicle
                            </p>
                            <p class="p-f-s text-sm-center text-md-start">
                                •	Household insurance
                            </p>
                        </div>
                        <div>
                            <p class="p-f-s text-sm-center text-md-start fw-bold">
                                LIFE PRODUCTS
                            </p>
                            <p class="p-f-s text-start">
                                • Life Insurance
                            </p>
                            <p class="p-f-s text-start">
                                • Funeral cover
                            </p>
                            <p class="p-f-s text-start mx-3">
                                &#x1F535; Free repatriation services
                            </p>
                            <p class="p-f-s text-start mx-3">
                                &#x1F535; 	Cash payout funeral cover
                            </p>
                        </div>
                    </div>




                    <div class="gate-link text-lg-start text-md-start text-sm-center text-center d-flex justify-content-center  m-0">
                        <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Explore More</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3 mt-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>
                    <h4> <span class="text-db9b1e">Discounted Travel and Accommodation</span></h4>
                    
                    <p class="p-f-s text-start">
                    Lifestyle - Discount Travel and Accommodation
                    </p>
                    <p class="p-f-s text-start">
                    Discounted on Flights and Bus Tickets
                    </p> 
                    <p class="p-f-s text-start">
                    Discounted accommodation across Africa
                    </p>
                    <p class="p-f-s text-start">
                    Discounted car hire
                    </p>
                    
                    
                    <div class="gate-link text-lg-start text-md-start text-sm-center text-center  m-0">
                        <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Explore More</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3 mt-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">Rewards </span></h4>

                    
                    <p class="p-f-s text-sm-center text-md-start">
                        Discounted shopping
                    </p>
                    
                    <div class="gate-link text-lg-start text-md-start text-sm-center text-center  m-0">
                        <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Explore More</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3 mt-3">
                <div class="fin-card py-3" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">SHOP AWAY</span></h4>


                    <p class="p-f-s text-sm-center text-md-start">
                        Discounted grocery coupons
                        Discounted meat products e,g chicken and beef

                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Cash back
                    </p>
                    <p class="p-f-s text-sm-center text-md-start">
                        Pharmacy
                    </p>

                    <div class="gate-link text-lg-start text-md-start text-sm-center text-center m-0">
                        <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Explore More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ======== End of 1.4. finance section ========  -->
<!-- ======== 1.5. ispsum section ========  -->
<div class="ispsum-logo">
    <div class="container">
        <hr>
        <div class="logo_ispsum_slider align-items-center">
            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/mastercard.png" alt="img"></figure>
            </a>
            <a href="#" >
                <figure><img width="300" height="100" class="my-auto" src="~/assets/images/icon/picknpay.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/nedbank.png" alt="img"></figure>
            </a>
           
            <a href="#" >
                <figure><img width="300" height="100" class="my-auto" src="~/assets/images/icon/picknpay.png" alt="img"></figure>
            </a>
           
             <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/mastercard.png" alt="img"></figure>
            </a> 
            
        </div>
        <hr>
    </div>
</div>
<!-- ======== End of 1.5. ispsum section ========  -->
<!-- ======== Join ACID SmartMula section ========  -->
<!-- ======== 1.10. profaessional section ========  -->
<section class="profaessional mb-0">
    <div class="container">
        <h2 class="text-center">What are you waiting ?  </h2>
        <P class="text-center pt-3 pb-5 mb-2">
            Change the way you money
        </P>
        <div class="d-flex justify-content-center" data-aos="zoom-in-up">
            <div class="text-md-start text-sm-center text-center pt-lg-3.. pt-md-2 pt-sm-0 pt-1">
                <a class="btn-hover1" asp-controller="About" asp-action="Index">Learn More </a>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 1.10. profaessional section ========  -->
