@* <div class="first_nav_hero_about">
    <!-- ======== 4.1. hero section ======== -->
    <div class="container">
        <div class="pricing-hero">
            <h2 class="text-center">PRICING</h2>
            <P class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit architecto obcaecati quibusdam sequi nulla.</P>
        </div>
    </div>
    <!-- ========End of 4.1. hero section ======== -->
    <!-- ========  1.9. pricing section ========  -->
    <section class="pricing pri-padd">
        <div class="container">
            <div class="row d-flex gap-md-0 gap-sm-3 gap-2">
                <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center pricing-bg"
                     data-aos="fade-up">
                    <div>
                        <figure><img src="~/assets/images/pricing/pricinge.png" alt="pric-img1" class="moving"></figure>
                        <figure><img src="~/assets/images/icon/hero_star.png" alt="pric-img2"></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mt-md-0 mt-sm-5 mt-5" data-aos="fade-down">
                    <h2 class=" text-md-start text-sm-center text-center">ECONOMICAL PRICING OPTIONS</h2>
                    <p class="text-md-start text-sm-center text-center p-md-0 p-sm-2 p-2">
                        Lorem ipsum, dolor sit
                        amet consectetur
                        adipisicing elit. Incidunt excepturi enim vero soluta veritatis quis reprehenderit.
                        Incidunt
                        excepturi enim vero soluta veritatis quis reprehenderit.
                    </p>
                    <div class="pric-list">
                        <h6>Personal</h6>
                        <div class="d-flex">
                            <div class="d-flex justify-content-between gap-md-5 gap-sm-3 gap-3">
                                <div class="d-flex pric-sup align-items-center">
                                    <h2>$1.54</h2>
                                    <p>/month</p>
                                </div>
                                <p class="p-f-s">
                                    Lorem ipsum dolor sit amet, consectetur adipiset quatit.
                                    quia?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pric-list second">
                        <h6>Business</h6>
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-between gap-md-4 gap-sm-2 gap-2">
                                <div class="d-flex pric-sup ">
                                    <h2>$4.54</h2>
                                    <p>/month</p>
                                </div>
                                <p class="p-f-s">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    quia?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-md-start text-sm-center text-center pt-lg-4 pt-md-2 pt-sm-0 pt-1">
                        <a class="btn-hover1" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======== End of 1.9. pricing section ========  -->
    <!-- ======== 1.11. question section ========  -->
    <section class="question pb-lg-1 pb-md-2 pb-sm-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="question-text col-lg-6 col-md-6 tab-center" data-aos="fade-up">
                    <h2 class="text-lg-start text-md-start text-sm-center text-center">
                        FREQUENTLY ASKED
                        QUESTIONS
                    </h2>
                    <P class="text-lg-start text-md-start text-sm-center text-center mt-md-3 mt-3">
                        Lorem ipsum
                        dolor
                        sit amet
                        consectetur, adipisicing elit. Dolorem deleniti harum sint porro
                        atque!.ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deleniti harum sint
                        porro
                        atque!
                    </P>
                    <div class="text-lg-start text-md-start text-sm-center text-center ">
                        <a class="btn-hover1" asp-controller="FAQ" asp-action="Index">More FAQs</a>
                    </div>
                </div>
                <div class="question-collapes col-lg-6 col-md-6 mt-md-0 mt-sm-3 mt-3" data-aos="zoom-in">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    How does microfinancing work?
                                </button>
                            </h5>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
                                        possimus
                                        minima, saepe praesentium expedita non error. Consectetur tempore maxime
                                        repudiandae deleniti animi omnis inventore aspernatur, exercitationem
                                        voluptas
                                        qui veniam maiores.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    What types of businesses are eligible for this service?
                                </button>
                            </h5>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit
                                        perferendis
                                        quibusdam tempore. A vel maxime obcaecati aperiam omnis deserunt
                                        mollitia
                                        commodi, modi dolorem eos dicta, iusto sunt ipsa sequi laborum!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    How long does it take to receive funds?
                                </button>
                            </h5>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid natus
                                        ullam
                                        ab
                                        consequuntur assumenda nisi quibusdam exercitationem qui similique
                                        ducimus
                                        molestias iusto facere quidem ratione, pariatur repudiandae! Vitae, quia
                                        doloremque?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                    How can I contact with support?
                                </button>
                            </h5>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                 aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                        molestias
                                        illo quisquam esse. Sapiente animi est sint ex? Vero voluptatum
                                        voluptatem
                                        natus
                                        pariatur harum maiores eos possimus consectetur repellat quidem?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======== End of 1.11. question section ========  -->
</div> *@



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypath</title>
    <!-- favicon  -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- faremwork of css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-lib/bootstrap.min.css">
    <!-- style sheet of css        -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive sheet of css -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- fonts awsome icon link            -->
    <link rel="stylesheet" href="~/assets/font-awesome-lib/icon/font-awesome.min.css">
    <!-- slick-slider link css -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- animation of css -->
    <link rel="stylesheet" href="~/assets/css/aos.css">
</head>
<body>
    <div class="site-wrapper">
        <div class="first_nav_hero_about">
            <!-- ======== 11.1. Coming hero section ======== -->
            <section>
                <div class="container">
                    <div class="row coming-hero d-flex gap-md-0 gap-sm-4 gap-4">
                        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                            <figure class="d-flex align-items-center justify-content-lg-end justify-content-md-center justify-content-center"><img src="~/assets/images/coming/coming-soon.png" class="moving" alt="img"></figure>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex flex-column align-items-md-start align-items-ms-center align-items-center text-md-start text-sm-center text-center" data-aos="fade-down">
                            <h3>WE ARE</h3>
                            <h2>COMING SOON</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nihil numquam natus corporis dolorem obcaecati esse, deleniti ex maiores libero?</p>
                            <a class="btn-hover1" asp-controller="Home" asp-action="Index">Back to Home</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======== End of 11.1. Coming hero section ======== -->
            <!-- ======== 11.2. Coming footer section ======== -->
            <div class="footer-coming">
                <div class="d-flex align-items-center justify-content-center gap-4">
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                    <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                </div>
                <p class="text-center ps-1 pe-1">Copyright © 2024 ACID SmartMula . All Right Reserved.</p>
                <h1 class="fs-6 lh-1">Powered by Sesfont</h1>
            </div>
            <!-- ======== End of 11.2. Coming footer section ======== -->
        </div>
    </div>

    <!-- bootstrap min javascript -->
    <script src="~/assets/js/javascript-lib/bootstrap.min.js"></script>
    <!-- j Query -->
    <script src="~/assets/js/jquery.js"></script>
    <!-- slick slider js -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- main javascript -->
    <script src="~/assets/js/custom.js"></script>
    <!-- counter javascript file -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- animation from javascript -->
    <script src="~/assets/js/aos.js"></script>
    <script>
        AOS.init({
            once: true,
            duration: 1500,
        });
    </script>
</body>
</html>
