<div class="first_nav_hero_about">
    <!-- ======== 2.1. hero section ========  -->
    <section>
        <div class="about-hero container">
            <h1 class="text-center">About Us</h1>
            <p class="text-center about-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                laborum quibusdam consequatur.
            </p>
            <div class="services  pb-lg-4 pb-md-2 pb-sm-0 pb-0 mb-lg-2 mb-md-1 mb-sm-0 mb-0">
                <div class="container">
                    <div class="row gap-md-0 gap-sm-4 gap-4">
                        <div class="col-lg-6 col-md-6" data-aos="fade-up">
                            <h2 class="text-lg-start text-md-start text-sm-center text-center">
                                CHANGE THE WAY YOU DO MONEY
                            </h2>
                            <p class="text-lg-start text-md-start text-sm-center text-center mt-lg-4 mt-md-2 mt-sm-2 mt-2 pb-4 ">
                                ACID SmartMula helps you spend, send, and save smarter. Welcome to your new favourite way to do all things money.

                            </p>


                            <div class="serives-btn justify-content-md-start justify-content-ms-center justify-content-center d-flex pt-lg-4 pt-md-2 pt-sm-2 pt-2">
                                <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Try ACID SmartMula now</a>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center abt" data-aos="fade-down">
                            <div class="position-relative">
                                <figure class="abut-hero-img1"><img src="https://paypath.evonicsoft.net/assets/images/index/lady-mobile.png" alt="img"></figure>
                                <figure class="abut-hero-img2"><img src="~/assets/images/icon/whitStar.png" alt="img"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======== 2.1. hero section ========  -->
</div>



<!-- ======== 1.5. ispsum section ========  -->
<div class="ispsum-logo">
    <div class="container">
        <hr>
        <div class="logo_ispsum_slider">
            <a href="#">
                <figure><img src="~/assets/images/icon/ipsum-1.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ipsum-2.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ispum-3.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ipsum-4.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ipsum-1.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ipsum-2.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ispum-3.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img src="~/assets/images/icon/ipsum-4.png" alt="img"></figure>
            </a>
        </div>
        <hr>
    </div>
</div>
<!-- ======== End of 1.5. ispsum section ========  -->
<!-- ======== 2.2. banner section ========  -->
<section>
    <div class="container about-banner" data-aos="zoom-in">
        <div class="d-flex justify-content-lg-end justify-content-md-end justify-content-ms-center justify-content-center">
            <div class="banner-text">
                <h3 class="text-md-start text-sm-center text-center">
                    Our global mission is for every person and business to do all things money — spending, saving, investing, borrowing, managing, and more — in just a few taps.
                </h3>
                <p class="text-md-start text-sm-center text-center p-f-s">
                    Our global mission is for every person and business to do all things money — spending, saving, investing, borrowing, managing, and more — in just a few taps.
                </p>
                @* <div class="visa-btn text-sm-center text-md-start text-center">
                <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Get The Card</a>
                </div> *@
            </div>
        </div>
    </div>
</section>
<!-- ========End of 2.2. banner section ========  -->
<!-- ======== 1.4. finance section ========  -->
<section class="finance mt-lg-4 mt-md-2 mt-sm-0 mt-0">
    <div class="container text-center">
        <h2>WHAT WE'VE DONE SO FAR</h2>
        <P class="mt-0">
            We’re building a platform so effortless, so seamless, so borderless that you’ll never want to use another financial app again. And we’re making it happen by doing what we always do: relentlessly delivering faster, better, smarter products.
        </P>
        <div class="finanes-card row gap-md-0 gap-sm-4 gap-4">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">2024</span></h4>

                    <p class="p-f-s">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dicta
                        corrupti
                        nihil?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure> <img src="~/assets/images/icon/doller.png" alt="doller"></figure>
                    <h4> <span class="text-db9b1e">2023</span></h4>
                    <p class="p-f-s">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore itaque nam
                        pariatur.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/arow.png" alt="arow"></figure>
                    <h4> <span class="text-db9b1e">2022</span></h4>
                    <p class="p-f-s">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem quos
                        corrupti.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 1.4. finance section ========  -->
<!-- ======== 2.4. Team behind section ========  -->
<section class="behind b-back">
    <div class="container">
        <h2 class="text-center">MEET OUR TEAM</h2>
        <p class="b-para">Get to know our global leadership team who steers our Dream Team, and how ACID SmartMula applies the spirit of the Corporate Code Principles within our Corporate Governance Framework</p>
        <div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></div>
                <div class="ps-4">
                    <h4>Anoe Brown</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div>
                    <figure><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></figure>
                </div>
                <div class="ps-4">
                    <h4>Emma White</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div><div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></div>
                <div class="ps-4">
                    <h4>Anoe Brown</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div>
                    <figure><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></figure>
                </div>
                <div class="ps-4">
                    <h4>Emma White</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ======== End of 2.4. behind section ========  -->
<!-- ======== 2.4.Affilliates behind section ========  -->
<section class="behind b-back mb-0">
    <div class="container">
        <h2 class="text-center">MEET OUR AFFILIATES</h2>
        <p class="b-para">Get to know our global leadership team who steers our Dream Team, and how ACID SmartMula applies the spirit of the Corporate Code Principles within our Corporate Governance Framework</p>
        <div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></div>
                <div class="ps-4">
                    <h4>Anoe Brown</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div>
                    <figure><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></figure>
                </div>
                <div class="ps-4">
                    <h4>Emma White</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div><div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></div>
                <div class="ps-4">
                    <h4>Anoe Brown</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                <div>
                    <figure><img src="https://paypath.evonicsoft.net/assets/images/about/behind2.jpg" alt="img"></figure>
                </div>
                <div class="ps-4">
                    <h4>Emma White</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore voluptate aut?</p>
                    <div class="b-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ======== End of 2.4. Affilliates behind section ========  -->
