<div class="first_nav_hero_about">
    <!-- ======== 2.1. hero section ========  -->
    <section>
        <div class="about-hero container">
            <h1 class="text-center">About Us</h1>
            <p class="text-center about-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                laborum quibusdam consequatur.
            </p>
            <div class="services  pb-lg-4 pb-md-2 pb-sm-0 pb-0 mb-lg-2 mb-md-1 mb-sm-0 mb-0">
                <div class="container">
                    <div class="row gap-md-0 gap-sm-4 gap-4">
                        <div class="col-lg-6 col-md-6" data-aos="fade-up">
                            <h2 class="text-lg-start text-md-start text-sm-center text-center">
                                CHANGE THE WAY YOU DO MONEY
                            </h2>
                            <p class="text-lg-start text-md-start text-sm-center text-center mt-lg-4 mt-md-2 mt-sm-2 mt-2 pb-4 ">
                                ACID SmartMula helps you spend, send, and save smarter. Welcome to your new favourite way to do all things money.

                            </p>


                            <div class="serives-btn justify-content-md-start justify-content-ms-center justify-content-center d-flex pt-lg-4 pt-md-2 pt-sm-2 pt-2">
                                <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Try ACID SmartMula now</a>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center abt" data-aos="fade-down">
                            <div class="position-relative">
                                <figure class="abut-hero-img1"><img src="~/assets/images/cell.png" alt="img"></figure>
                                <figure class="abut-hero-img2"><img src="~/assets/images/icon/whitStar.png" alt="img"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======== 2.1. hero section ========  -->
</div>



<!-- ======== 1.5. ispsum section ========  -->
<div class="ispsum-logo">
    <div class="container">
        <hr>
        <div  class="logo_ispsum_slider">
            <a href="#">
                <figure><img width="300" height="100" src="~/assets/images/icon/mastercard.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="300" height="100" class="my-auto" src="~/assets/images/icon/picknpay.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/nedbank.png" alt="img"></figure>
            </a>
              
            <a href="#">
                <figure><img width="300" height="100" class="my-auto" src="~/assets/images/icon/checkers.png" alt="img"></figure>
            </a>

            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/shoprite.png" alt="img"></figure>
            </a>
            <a href="#">
                <figure><img width="200" height="100" src="~/assets/images/icon/rapidRewards.png" alt="img"></figure>
            </a> 
        </div>
        <hr>
    </div>
</div>
<!-- ======== End of 1.5. ispsum section ========  -->
<!-- ======== 2.2. banner section ========  -->
<section>
    <div class="container about-banner" data-aos="zoom-in">
        <div class="d-flex justify-content-lg-end justify-content-md-end justify-content-ms-center justify-content-center">
            <div class="banner-text">
                <h3 class="text-md-start text-sm-center text-center">
                    Our global mission is for every person and business to do all things money — spending, saving, investing, borrowing, managing, and more — in just a few taps.
                </h3>
                <p class="text-md-start text-sm-center text-center p-f-s">
                    Our global mission is for every person and business to do all things money — spending, saving, investing, borrowing, managing, and more — in just a few taps.
                </p>
                @* <div class="visa-btn text-sm-center text-md-start text-center">
                <a class="btn-hover1" asp-controller="Pricing" asp-action="Index">Get The Card</a>
                </div> *@
            </div>
        </div>
    </div>
</section>
<!-- ========End of 2.2. banner section ========  -->
<!-- ======== 1.4. finance section ========  -->
<section class="finance mt-lg-4 mt-md-2 mt-sm-0 mt-0">
    <div class="container text-center">
        <h2>WHAT WE'VE DONE SO FAR</h2>
        <P class="mt-0">
            We’re building a platform so effortless, so seamless, so borderless that you’ll never want to use another financial app again. And we’re making it happen by doing what we always do: relentlessly delivering faster, better, smarter products.
        </P>
        <div class="finanes-card row gap-md-0 gap-sm-4 gap-4">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/graphe.png" alt="praph"></figure>

                    <h4> <span class="text-db9b1e">2024</span></h4>

                    <p class="p-f-s">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dicta
                        corrupti
                        nihil?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center pe-lg-3 pe-md-0 pe-sm-3 pe-3">
                <div class="fin-card" data-aos="flip-up">
                    <figure> <img src="~/assets/images/icon/doller.png" alt="doller"></figure>
                    <h4> <span class="text-db9b1e">2023</span></h4>
                    <p class="p-f-s">
                        Bank card, cross boarder remittance, health
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/arow.png" alt="arow"></figure>
                    <h4> <span class="text-db9b1e">2022</span></h4>
                    <p class="p-f-s">
                        Bank card
                    </p>
                </div>
            </div> 
            <div class="col-lg-4 col-md-4 d-flex justify-content-center mt-4">
                <div class="fin-card" data-aos="flip-up">
                    <figure><img src="~/assets/images/icon/arow.png" alt="arow"></figure>
                    <h4> <span class="text-db9b1e">2020/21</span></h4>
                    <p class="p-f-s">
                        Funeral
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 1.4. finance section ========  -->

<div class="ispsum-logo">
    <div class="container">


        <hr>
    </div>
</div>




<section class="about ">
    <div class="container">
        <div class="row text-md-start text-sm-center text-center">
            <div class="col-md-6 d-flex justify-content-between mb-3">
                <div class="ab_card11" data-aos="flip-left ">
                    
                    <div class="d-flex justify-content-center card news-card-back">
                        <img class="img-fluid" src="~/assets/images/acidLife.png" alt="card-img">
                    </div>
                    <h3 class="my-3" >How our Journey Started</h3>
                    <p class="text-start ">
                        Our journey started in 2017 after our faithful Malawian gardener of over 8 years suddenly died of Volvulus (a condition that causes twisting or knotting of the intestines which in turn can block the intestine and obstruct blood flow). His wife couldn't even afford to provide mourners with something to eat, let alone repatriate his body back home. After seeing his family’s struggle and eventually assisting to repatriate his body back to Malawi, it became apparent that there are many African Migrants in SA and in the Diaspora who are in the same boat. This led to the birth of African Continent in Diaspora (ACID).
                    </p> 
                    <p class="text-start ">
                        ACID started off as company offering affordable Funeral Polices and Life Assurance products to the low and medium earning  African Migrants in SA. As much as people were excited about our products & services and were signing up, most of them had to travel and spend unnecessary money to come to our offices to pay for their policies as they did not have bank accounts.
                    </p> 
                    <p class="text-start ">
                        The ACID Life Services journey taught us that the challenges facing the African Migrants in Diaspora are many; one of which is lack of Financial Inclusion.
                    </p>

                    
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-between mb-3">
                <div class="ab_card11" data-aos="flip-left ">
                    
                    <div class="d-flex justify-content-center card news-card-back">
                        <img class="img-fluid"  src="~/assets/images/acidCard.png" alt="card-img">
                    </div>
                    <h3 class="my-3">Where it has taken Us</h3>
                    <p class="text-start ">
                        We came to the realisation that:-
                    </p> 
                    <p class="text-start my-0 ">
                        &#x1F535; People need a partner to assist them to grow.
                    </p> 
                    <p class="text-start my-0 ">
                        &#x1F535; Everyone needs financial inclusion especially access to banking services.
                    </p>
                    <p class="text-start my-0 ">
                        &#x1F535; In the current economic conditions people need a partner in entrepreneurial thinking & support in running their small business initiatives.
                    </p>
                    <p class="text-start my-0 ">
                        &#x1F535; For those fortunate enough to have jobs, there is a need to support them when there is more month than money left at the end of the month.
                    </p>
                    <p class="text-start my-0 ">
                        &#x1F535; Those not bringing money into the economy are looked at as a burden to the SA society & back home. This narrative needed to be changed via financial inclusion and provision of funeral polices so that if one passes away in a foreign country they will still be able to be buried in their country of birth if they so wish                           without burdening their family & friends.
                    </p>
                    <p class="text-start my-0 ">
                        &#x1F535; We noticed that most of those operating in the informal sector mostly deal in cash due to high banking charges.
                    </p>
                    <p class="text-start  ">
                        This led to the birth of a banking platform (ACID SmartMula) which allows anyone &  everyone to bank smartly, conveniently and affordably
                    </p>


                    
                </div>
            </div>
           

        </div>
    </div>
</section>
<!-- ======== 2.4. Team behind section ========  -->
<section class="behind b-back">
    <div class="container">
        @* <h2 class="text-center">MEET OUR TEAM</h2>
        <p class="b-para">Get to know our global leadership team who steers our Dream Team, and how ACID SmartMula applies the spirit of the Corporate Code Principles within our Corporate Governance Framework</p> *@
        <div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                
                <div class="ps-4 justify-content-start">
                    <h5 class="fs-2 text-db9b1e">Our Vision</h5>
                    <p>To provide convenient and affordable banking to everyone and to ensure no one is left by the bus when it comes to Financial Inclusion.</p>
                    
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                
                <div class="ps-4 justify-content-start">
                    <h5 class="fs-2 text-db9b1e">Our Mission</h5>
                    <p>Our mission is to deliver quality, innovative, price sensitive products and services to our stakeholders. We will achieve this through serving our customers with Ubuthu, dignity, commitment to excellence and without discrimination</p>
                    
                    
                </div>
            </div>
            
        </div>
        <div class="row gap-md-0 gap-sm-4 gap-4 mt-3">
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                
                <div class="ps-4 justify-content-start">
                    <h5 class="fs-2 text-db9b1e">
                        Our Promise</h4>
                    <p>For your peace of Mind, we offer Professionalism and Integrity.</p>
                    
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex" data-aos="flip-up">
                
                <div class="ps-4 justify-content-start">
                    <h5 class="fs-2 text-db9b1e">Our Values</h5>
                    <p class="my-0 pb-0"> &#x1F535; Ubuntu & Compassion.</p>
                    <p class="my-0 py-0"> &#x1F535; Professionalism & Integrity.</p>
                    <p class="my-0 py-0"> &#x1F535; Responsibility & Empowerment.</p>
                    
                    
                    
                </div>
            </div>
            
        </div>
        

    </div>
</section>
<!-- ======== End of 2.4. behind section ========  -->

<div class="question-page mb-0">
    <h4 class="text-center">Need a little more help?</h4>
    <h2 class="page-p text-center">ACID SmartMula BUSINESS FAQS</h2>

    <div class="question-collapes" data-aos="zoom-in">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h5 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How quickly can I open a Business account?
                    </button>
                </h5>
                <div id="collapseOne" class="accordion-collapse collapse show"
                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            You can open a Revolut Business account quickly in about 10 minutes — just fill out a short form. We’ll need to review your business account application and start the sign-up process.
                            <br />
                            <br />
                            The sign-up process can be quick, but will depend on the complexity of your company and the documents uploaded.
                            <br />
                            <br />
                            Can’t continue or you've been waiting for more than a week? Complete a support request and we'll be happy to help you.Learn more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h5 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What do I need to open a Business account?
                    </button>
                </h5>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            To open your Revolut Business account, we’ll need to know:

                            <br />
                            <br />

                            - Your operating address confirmation <br />
                            - A short description of what your business does and where (nature of business) <br />
                            - How you intend to use your business account<br />
                            - Proof and verification of your identity<br />
                            - Which Revolut Business plan you’ll start with

                            <br />
                            <br />

                            It's easy to get started.Learn more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h5 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                        How much will it cost to open a Business account?
                    </button>
                </h5>
                <div id="collapseThree" class="accordion-collapse collapse"
                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            With our Basic plan, we won't charge you a monthly fee. You only pay for what you've used during the month. With one of our paid plans, you can get exclusive features, perks, and have higher allowances to help you save money.

                            <br />
                            <br />
                            Want to find out about costs? Check out our business account pricing page.Learn more.

                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h5 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                        How do I open a Business account with ACID SmartMula Business?
                    </button>
                </h5>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            Opening a Revolut Business account is quick and easy.
                            <br />
                            <br />

                            1. Fill out a short online form — it only takes about 10 minutes.<br />
                            2. We’ll review your business account application as part of your business onboarding.<br />
                            3. We onboard your business and your account's ready to go. It's that simple.<br />
                            <br />
                            <br />
                            We may need to reach out to confirm a few details or leave you a message on your application, guiding you through the required information/documentation.Learn more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h5 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">
                        How to join Pro54 network
                    </button>
                </h5>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                            molestias
                            illo quisquam esse. Sapiente animi est sint ex? Vero voluptatum voluptatem
                            natus
                            pariatur harum maiores eos possimus consectetur repellat quidem?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
